/* importando fonte  */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/* variáveis de paleta de cores e fontes  */
:root {
    --main-color: #000000;
    --second-color: #f6f6f6;
    --third-color: #22d4fd;
    --hover-color: #272727;
    --background-gradient:linear-gradient(160deg, #22d4fd 0%, #6fafa7 100%);
    --main-font: 'Krona One', sans-serif;
    --second-font: "Montserrat", sans-serif;


}

/* RESET CSS  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-color);
    
}

body main{
    flex: 1;
}

/* Estilos do Header  */
.cabecalho{
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    padding: 2% 0;
    display: flex;
    justify-content: center;
}

/* titulo da página  */
.cabecalho-titulo{
    font-family: var(--main-font);
    font-size: 2rem;
    text-align: center;
    color: var(--third-color);
    
}

.cabecalho-titulo:hover{
    transition: opacity 0.5s ease;
    opacity: 0.4;
    cursor: default;
    
}




/* Estilos do formulário de conversão */

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0% 17% 0%;
    
}

#conversor-formulario{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 10% 0% 12% 0%;
    width: 40%;
    gap: 10px;    
    color: var(--main-color);
    background: var(--background-gradient);
    border-radius: 20px;
    font-family: var(--second-font);
    font-size: 1.5rem;
    font-weight: 600;

}

/* estilo dos seletores  */
select{
    width: 50%;
    font-family: var(--second-font);
}

/* Estilos do Footer  */
footer{
    border: 1px solid rgb(255, 255, 255);

}


